<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false"
         bootstrap="bootstrap.php"
         >
	<testsuites>
		<testsuite name="Core PhMagick">
			<directory>phmagick</directory>
			<!-- <file>core/logTest.php</file>
			<file>core/cliTest.php</file>
			<file>core/cmdTest.php</file>
			<file>core/fileTest.php</file>
			<file>core/coreTest.php</file>
			<file>core/plugin_managerTest.php</file> -->
		</testsuite>
	</testsuites>
</phpunit>